@use "variables";
@use "mixins";

#footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    background-color: variables.$bg-color;

    p {
        font-size: 1.6rem;

        color: variables.$color-white;

        @include mixins.mediaQuerry(375px) {
            font-size: 1.5rem;
        }

        @include mixins.mediaQuerry(320px) {
            font-size: 1.4rem;
        }
    }
}
