@use "variables";
@use "mixins";

#header {
    width: 100%;
    padding: 2rem;

    transition: 0.15s;
    background-color: variables.$bg-color;

    .wrapper {
        @include mixins.limitCenterWidth;
        @include mixins.displayFlex(flex, center, space-between);
        text-align: center;

        @include mixins.mediaQuerry(1024px) {
            width: 95%;
        }

        @include mixins.mediaQuerry(425px) {
            gap: 0.8rem;
            flex-direction: column;
        }

        .title {
            font-size: 2rem;
            color: variables.$color-white;

            @include mixins.mediaQuerry(768px) {
                font-size: 1.8rem;
            }

            @include mixins.mediaQuerry(425px) {
                font-size: 1.7rem;
            }

            @include mixins.mediaQuerry(320px) {
                font-size: 1.5rem;
            }
        }

        .container-points-and-button {
            @include mixins.displayFlex(flex, center, center);
            gap: 1rem;

            .container-points {
                @include mixins.displayFlex(flex, center, center);
                gap: 0.5rem;
                padding: 0.5rem;
                border-radius: 0.3rem;

                background-color: variables.$color-white;

                p {
                    font-size: 1.7rem;

                    @include mixins.mediaQuerry(320px) {
                        font-size: 1.5rem;
                    }
                }
            }

            .btn-delete-points {
                font-size: 1.7rem;
                padding: 0.5rem;
                border-radius: 0.3rem;

                border: none;
                cursor: pointer;
                transition: 0.4s;
                background-color: variables.$color-white;

                @include mixins.mediaQuerry(320px) {
                    font-size: 1.5rem;
                }

                &:hover {
                    @include mixins.padraoHover(#000, variables.$color-white);
                }
            }
        }
    }
}
