@use "variables";
@use "mixins";

/* Header */
#header {
    width: 100%;
    height: 9vh;
    padding: 15px;
    transition: all 0.15s ease;
    background-color: variables.$bg-color;

    @include mixins.mediaQuerry(425px) {
        height: 13vh;
    }

    .header-container {
        @include mixins.limitCenterWidth;
        @include mixins.displayFlex(flex, center, space-between);

        @include mixins.mediaQuerry(1024px) {
            width: 95%;
        }    

        @include mixins.mediaQuerry(425px) {
            flex-direction: column;
            gap: 0.5rem;
        }

        &-title {
            font-size: 1.3rem;
            color: variables.$color-white;

            @include mixins.mediaQuerry(768px) {
                font-size: 1.2rem
            }

            @include mixins.mediaQuerry(425px) {
                font-size: 1.1rem;
            }
        }

        &-points-delete {
            @include mixins.displayFlex(flex, center, center);
            gap: 1rem;

            .container-points-box {
                @include mixins.displayFlex(flex, center, center);
                gap: .5rem;
                padding: 5px;
                border-radius: 1px;
                background-color: variables.$color-white;

                span {
                    font-size: 1rem;

                    @include mixins.mediaQuerry(320px) {
                        font-size: 0.9rem;
                    }
                }
            }

            .btn-delete-points {
                padding: 5px;
                font-size: 1rem;
                border-radius: 1px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                background-color: variables.$color-white;

                @include mixins.mediaQuerry(320px) {
                    font-size: 0.9rem;
                }

                &:hover {
                    background-color: black;
                    color: variables.$color-white;
                }
            }
        }
    }
}