@use "variables";
@use "mixins";

#home-section {
    width: 100%;
    height: calc(100vh - 7rem);

    position: relative;

    background-image: url("../img//background/Background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mixins.mediaQuerry(425px) {
        height: calc(100vh - 9.8rem);
    }

    @include mixins.mediaQuerry(320px) {
        height: calc(100vh - 9.2rem);
    }

    &::before {
        content: "";

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.7);
    }

    .wrapper {
        @include mixins.limitCenterWidth;
        @include mixins.displayFlex(flex, center, center);
        flex-direction: column;

        height: calc(100vh - 7rem);

        position: relative;

        @include mixins.mediaQuerry(425px) {
            height: calc(100vh - 9.8rem);
        }

        @include mixins.mediaQuerry(320px) {
            height: calc(100vh - 9.2rem);
        }

        .change-background-image {
            width: 100%;
            @include mixins.displayFlex(flex, center, center);

            @include mixins.mediaQuerry(425px) {
                width: 95%;
            }

            .main-image {
                @include mixins.configImg(49.7rem, 2rem);

                @include mixins.mediaQuerry(768px) {
                    width: 46rem;
                }

                @include mixins.mediaQuerry(425px) {
                    width: 36rem;
                }

                @include mixins.mediaQuerry(375px) {
                    width: 30rem;
                }

                @include mixins.mediaQuerry(320px) {
                    width: 26rem;
                }
            }

            span {
                @include mixins.displayFlex(flex, center, center);

                img {
                    @include mixins.configImg(30rem, 2rem);
                    border-radius: 0.5rem;

                    @include mixins.mediaQuerry(425px) {
                        width: 25rem;
                    }

                    @include mixins.mediaQuerry(375px) {
                        width: 23rem;
                    }

                    @include mixins.mediaQuerry(320px) {
                        width: 20rem;
                    }
                }
            }
        }

        .result-message {
            margin-bottom: 2rem;
            flex-direction: column;
            gap: 0.2rem;
            text-align: center;

            p, span {
                font-size: 2rem;
                // margin-bottom: 1rem;

                font-weight: bold;
                color: variables.$color-white;

                @include mixins.mediaQuerry(425px) {
                    font-size: 1.5rem;
                    // width: 80%;
                }
    
                @include mixins.mediaQuerry(320px) {
                    font-size: 1.4rem;
                }
            }

            
        }

        .form {
            @include mixins.configImg(100%, 2rem);
            display: flex;
            justify-content: center;
            gap: 1rem;

            @include mixins.mediaQuerry(425px) {
                width: 90%;
            }

            .input {
                @include mixins.widthBorderRadiusFontSize(30%, 1.7rem, 0.3rem);
                padding: 1rem;

                outline: none;
                border: none;

                @include mixins.mediaQuerry(425px) {
                    @include mixins.widthBorderRadiusFontSize(70%, 1.5rem, 0.3rem);
                    padding: 0.9rem;
                }

                @include mixins.mediaQuerry(375px) {
                    font-size: 1.3rem;
                }
            }

            .btn-enviar {
                @include mixins.widthBorderRadiusFontSize(15%, 1.7rem, 0.3rem);

                cursor: pointer;
                border: none;
                transition: 0.3s;
                background-color: variables.$color-white;

                @include mixins.mediaQuerry(425px) {
                    width: 50%;
                    font-size: 1.5rem;
                }

                @include mixins.mediaQuerry(375px) {
                    font-size: 1.3rem;
                    width: 40%;
                }

                &:hover {
                    @include mixins.padraoHover(#000, variables.$color-white);
                }
            }
        }

        .container-btn {
            width: 100%;
            @include mixins.displayFlex(flex, center, center);
            flex-wrap: wrap;
            gap: 1rem;

            @include mixins.mediaQuerry(425px) {
                width: 95%;
            }

            .btn {
                @include mixins.widthBorderRadiusFontSize(20%, 1.7rem, 0.3rem);
                @include mixins.padraoHover(variables.$color-white, #000);
                display: flex;
                justify-content: center;
                padding: 0.5rem;

                cursor: pointer;
                border: none;
                transition: 0.3s;

                @include mixins.mediaQuerry(425px) {
                    @include mixins.widthBorderRadiusFontSize(40%, 1.6rem, 0.3rem);
                }

                @include mixins.mediaQuerry(375px) {
                    font-size: 1.5rem;
                }

                @include mixins.mediaQuerry(320px) {
                    font-size: 1.4rem;
                }

                &:hover {
                    @include mixins.padraoHover(#000, variables.$color-white);
                }
            }
        }
    }
}
