* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

#header {
  width: 100%;
  padding: 2rem;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  background-color: #da1a29;
}
#header .wrapper {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #header .wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  #header .wrapper {
    gap: 0.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#header .wrapper .title {
  font-size: 2rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #header .wrapper .title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 425px) {
  #header .wrapper .title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 320px) {
  #header .wrapper .title {
    font-size: 1.5rem;
  }
}
#header .wrapper .container-points-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
#header .wrapper .container-points-and-button .container-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
}
#header .wrapper .container-points-and-button .container-points p {
  font-size: 1.7rem;
}
@media screen and (max-width: 320px) {
  #header .wrapper .container-points-and-button .container-points p {
    font-size: 1.5rem;
  }
}
#header .wrapper .container-points-and-button .btn-delete-points {
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
}
@media screen and (max-width: 320px) {
  #header .wrapper .container-points-and-button .btn-delete-points {
    font-size: 1.5rem;
  }
}
#header .wrapper .container-points-and-button .btn-delete-points:hover {
  background-color: #000;
  color: #fff;
}

#home-section {
  width: 100%;
  height: calc(100vh - 7rem);
  position: relative;
  background-image: url("../img//background/Background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  #home-section {
    height: calc(100vh - 9.8rem);
  }
}
@media screen and (max-width: 320px) {
  #home-section {
    height: calc(100vh - 9.2rem);
  }
}
#home-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#home-section .wrapper {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 7rem);
  position: relative;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper {
    height: calc(100vh - 9.8rem);
  }
}
@media screen and (max-width: 320px) {
  #home-section .wrapper {
    height: calc(100vh - 9.2rem);
  }
}
#home-section .wrapper .change-background-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .change-background-image {
    width: 95%;
  }
}
#home-section .wrapper .change-background-image .main-image {
  width: 49.7rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  #home-section .wrapper .change-background-image .main-image {
    width: 46rem;
  }
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .change-background-image .main-image {
    width: 36rem;
  }
}
@media screen and (max-width: 375px) {
  #home-section .wrapper .change-background-image .main-image {
    width: 30rem;
  }
}
@media screen and (max-width: 320px) {
  #home-section .wrapper .change-background-image .main-image {
    width: 26rem;
  }
}
#home-section .wrapper .change-background-image span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#home-section .wrapper .change-background-image span img {
  width: 30rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .change-background-image span img {
    width: 25rem;
  }
}
@media screen and (max-width: 375px) {
  #home-section .wrapper .change-background-image span img {
    width: 23rem;
  }
}
@media screen and (max-width: 320px) {
  #home-section .wrapper .change-background-image span img {
    width: 20rem;
  }
}
#home-section .wrapper .result-message {
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}
#home-section .wrapper .result-message p, #home-section .wrapper .result-message span {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .result-message p, #home-section .wrapper .result-message span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  #home-section .wrapper .result-message p, #home-section .wrapper .result-message span {
    font-size: 1.4rem;
  }
}
#home-section .wrapper .form {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .form {
    width: 90%;
  }
}
#home-section .wrapper .form .input {
  width: 30%;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  padding: 1rem;
  outline: none;
  border: none;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .form .input {
    width: 70%;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.9rem;
  }
}
@media screen and (max-width: 375px) {
  #home-section .wrapper .form .input {
    font-size: 1.3rem;
  }
}
#home-section .wrapper .form .btn-enviar {
  width: 15%;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .form .btn-enviar {
    width: 50%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  #home-section .wrapper .form .btn-enviar {
    font-size: 1.3rem;
    width: 40%;
  }
}
#home-section .wrapper .form .btn-enviar:hover {
  background-color: #000;
  color: #fff;
}
#home-section .wrapper .container-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .container-btn {
    width: 95%;
  }
}
#home-section .wrapper .container-btn .btn {
  width: 20%;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 425px) {
  #home-section .wrapper .container-btn .btn {
    width: 40%;
    font-size: 1.6rem;
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 375px) {
  #home-section .wrapper .container-btn .btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  #home-section .wrapper .container-btn .btn {
    font-size: 1.4rem;
  }
}
#home-section .wrapper .container-btn .btn:hover {
  background-color: #000;
  color: #fff;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #da1a29;
}
#footer p {
  font-size: 1.6rem;
  color: #fff;
}
@media screen and (max-width: 375px) {
  #footer p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  #footer p {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */